alias ys="yarn scripts"
alias yaourt="yay"
#alias chromium="chromium --flag-switches-begin --enable-experimental-web-platform-features --enable-gpu-rasterization --javascript-harmony --enable-oop-rasterization --enable-quic --disable-smooth-scrolling --top-chrome-touch-ui=disabled --v8-cache-options=code --enable-features=AwaitOptimization,BuiltInModuleInfra,BuiltInModuleKvStorage,DataSaverLiteModeRebranding,FontCacheScaling,LazyFrameLoading,LazyImageLoading,NativeFilesystemAPI,NewTabLoadingAnimation,NoStatePrefetch,OmniboxDedupeGoogleDriveURLs,OmniboxDocumentProvider,OmniboxExperimentalKeywordMode,OptimizationHints,PageAlmostIdle,ParallelDownloading,PictureInPicture,ProactiveTabFreezeAndDiscard,ResourceLoadingHints,ScrollAnchorSerialization,SessionRestorePrioritizesBackgroundUseCases,SimplifyHttpsIndicator,SyncSendTabToSelf,UnifiedConsent,UseNewAcceptLanguageHeader,V8Orinoco,WasmCodeCache,WebAssemblyBaseline,WebAssemblyThreads,WebRTC-H264WithOpenH264FFmpeg,brotli-encoding --flag-switches-end"
alias ls="ls --color --group-directories-first -F"
alias ll="ls -1a"
alias lsal="ls -al"

alias mkdir="mkdir -pv"
alias cl="clear"

alias gcm="git commit -s -S -m "$1""
alias gall="git add --all"
alias gp="git push"

alias pbcopy="xsel --clipboard --input"
alias pbpaste="xsel --clipboard --output"

alias grep="grep --color=tty -d skip"
alias opn="xdg-open"
alias sk="screenkey"

alias ..="cd .."

alias zso="source ~/.zshrc"
alias zshc="nano ~/.zshrc"
alias ali="nano ~/.aliases"
alias sli="source ~/.aliases"

# alias gpull="git pull origin $(git_current_branch)"
# alias gpush="git push origin $(git_current_branch)"

# confirmation #
alias mv="mv -i"
alias cp="cp -i"
alias ln="ln -i"

alias free='free -m' # show sizes in MB
alias more=less

# Parenting changing perms on / #
alias chown="chown --preserve-root"
alias chmod="chmod --preserve-root"
alias chgrp="chgrp --preserve-root"

gfix () {
  git commit -s -S -m "fix: $1"
}

gfeat () {
  git commit -s -S -m "feat: $1"
}
